.reviews{
    padding-bottom: 100px;
    &__subtitle{
        margin-bottom: 20px;
        color: var(--black);
        font-family: "PT Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
    }
}