<section class="documents">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Документы"
        })
        <div class="documents__inner">
            <h2 class="title-black mb-30 documents__title">Документы</h2>
            <div class="documents-items">
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/document-1.jpg"><img src="images/document-1.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Сертификат соответствия системы менеджмента качества стандарту ИСО
                        9001</p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/document-2.jpg"><img src="images/document-2.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Свидетельство о государственной перерегистрации</p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/document-2.jpg"><img src="images/document-3.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Свидетельство о постановке на регистрационный учет по НДС</p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/document-2.jpg"><img src="images/document-4.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Свидетельство о государственной перерегистрации</p>
                </div>
            </div>
        </div>
    </div>
</section>