<section class="catalog">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Результат поиска"
        })
        <div class="catalog__inner">
            <h2 class="catalog__title title-black">Результат поиска</h2>
            <div class="catalog-items">
                <div class="catalog-item">
                    <div class="catalog-item__img">
                        <img src="images/services-1.jpg" alt="">
                    </div>
                    <a href="">
                        <h3 class="catalog-item__title">Продукт 1</h3>
                    </a>
                    <p class="catalog-item__article">ТУ 2423-004-78722668-2010</p>
                    <div class="catalog-item__descr">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit animi mollitia dolores
                            dicta! Sed non sit molestias voluptatum nihil? Iusto, dolorem. Ipsam laboriosam dolor
                            nostrum blanditiis sequi maxime dicta quod.</p>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Товар 1</h3>
                    </a>

                    <div class="catalog-item__descr">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit animi mollitia dolores
                            dicta! Sed non sit molestias voluptatum nihil? Iusto, dolorem. Ipsam laboriosam dolor
                            nostrum blanditiis sequi maxime dicta quod.</p>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Новость 1</h3>
                    </a>
                    <div class="catalog-item__descr">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit animi mollitia dolores
                            dicta! Sed non sit molestias voluptatum nihil? Iusto, dolorem. Ipsam laboriosam dolor
                            nostrum blanditiis sequi maxime dicta quod.</p>
                    </div>
                </div>
                <div class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Категория 1</h3>
                    </a>

                    <div class="catalog-item__descr">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit animi mollitia dolores
                            dicta! Sed non sit molestias voluptatum nihil? Iusto, dolorem. Ipsam laboriosam dolor
                            nostrum blanditiis sequi maxime dicta quod.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>