<section class="catalog">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Продукция"
        })
        <div class="catalog__inner">
            <h2 class="catalog__title title-black">Алкилэтаноламины</h2>
            <div class="catalog-items">
                <div data-aos="fade-up" data-aos-duration="1000" class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Диметилэтаноламин (ДМЭА)</h3>
                    </a>
                    <p class="catalog-item__article">ТУ 2423-004-78722668-2010</p>
                    <div class="catalog-item__descr">
                        <p>Область применения: производство пенополиуретанов, линолеума, теплоизоляционных материалов,
                            фармацевтических препаратов, лакокрасочной и текстильной продукции.</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Оксиэтильные производные
                            метилдиэтаноламина (ОП МДЭА)</h3>
                    </a>
                    <p class="catalog-item__article">ТУ 2423-004-78722668-2010</p>
                    <div class="catalog-item__descr">
                        <p>Область применения: производство пенополиуретанов, линолеума, теплоизоляционных материалов,
                            фармацевтических препаратов, лакокрасочной и текстильной продукции.</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Метилдиэтаноламин модифицированный специальный</h3>
                    </a>
                    <p class="catalog-item__article">ТУ 2423-004-78722668-2010</p>
                    <div class="catalog-item__descr">
                        <p>Область применения: производство пенополиуретанов, линолеума, теплоизоляционных материалов,
                            фармацевтических препаратов, лакокрасочной и текстильной продукции.</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" class="catalog-item">
                    <a href="">
                        <h3 class="catalog-item__title">Диметилэтаноламин (ДМЭА)</h3>
                    </a>
                    <p class="catalog-item__article">ТУ 2423-004-78722668-2010</p>
                    <div class="catalog-item__descr">
                        <p>Область применения: производство пенополиуретанов, линолеума, теплоизоляционных материалов,
                            фармацевтических препаратов, лакокрасочной и текстильной продукции.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>