<section class="single-news">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Пресс-центр"
        })
        <div class="single-news__inner">
            <h2 class="single-news__title title-black mb-30">ПРЕСС-ЦЕНТР</h2>
            <div class="single-news__content news-content">
                <div class="news-content__date">
                    <img src="images/date-icon-gray.svg" alt="">
                    <p>27.01.2015</p>
                </div>
                <img class="news-content__img" src="images/news-single.jpg" alt="">
                <h1 class="news-content__title">Реализован договор на поставку труборезов с компанией АО «КазТрансОйл»
                </h1>
                <div class="news-content__descr">
                    <p>На поставку сложного полевого и лабораторного аналитического оборудования: <br><br>

                        — компактный газоанализатор 4-х газов (CO2, O2,H2S,LEL) GX-2009; <br><br>

                        — прибор для поиска утечек газа EX-TECPM4; <br><br>

                        — анализатор точки россы. <br><br>

                        Данные аппараты используются для автоматического непрерывного измерения объемной доли или до
                        взрывоопасной концентрации горючих газов, объемной доли диоксида углерода, кислорода,
                        сероводорода, оксида углерода в воздухе рабочей зоны, а также сигнализации при превышении
                        установленных порогов тревоги. Благодаря чему, безопасность на предприятиях с повышенной
                        токсичностью, взрывоопасностью значительно возросла. <br> <br>

                        Также был заключен договор на поставку высокочувствительных анализаторов точки россы: <br><br>

                        — Анализатор точки россы модели 13-1200 — предназначен для измерения температуры точки росы по
                        влаге и углеводородам в природном газе, воздухе, кислороде, азоте, пропане, бутане, этилене и
                        т.д. <br><br>

                        Анализаторы точки росы могут применяться в химической, нефтехимической, газовой,
                        нефтеперерабатывающей, металлургической и других отраслях промышленности. <br><br>

                        — Анализатор точки росы «Hygrovision-BL» — является автоматическим конденсационным гигрометром
                        точек росы по воде и углеводородам с возможностью проводить измерения в ручном режиме точек росы
                        по воде/инею, углеводородам, спиртам, гликолям и пр.</p>
                </div>
            </div>
        </div>
    </div>
</section>