@media screen and (max-width:1510px){
    .hero{
        padding-top: 52px;
        &__inner{
            // position: relative;

        }
        &-bg__items{
            top: 52px;
            height: 100%;
        }
    }
    .geography{
        &-map{
            &__item{
                & svg{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    #reg-1 {
        top: 27%;
        left: 58%;
    }
    #reg-2{
        bottom: 20.5%;
        left: 63.5%;
    }
    #reg-3{
        bottom: 21.5%;
        left: 75.5%;
    }
    .point-text{
        &:nth-child(1){
            top: 7%;
            left: 50.5%;
        }
        &:nth-child(2){
            top: 19%;
            left: 38.5%;
        }
        &:nth-child(3){
            top: 25%;
            left: 52.5%;
            width: 107px;
        }
        &:nth-child(4){
            top: 23%;
            left: 69.5%;
        }
        &:nth-child(5){
            top: 36%;
            left: 8.5%;
        }
        &:nth-child(6){
            top: 44%;
            left: 26.5%;
        }
        &:nth-child(7){
            top: 53%;
            left: 47.5%;
        }
        &:nth-child(8){
            top: 44%;
            left: 63.5%;
        }
        &:nth-child(9){
            top: 44%;
            left: 76%;
            width: 48px;
        }
        &:nth-child(10){
            top: 43%;
            left: 86.5%;
        }
        &:nth-child(11){
            top: 72%;
            left: 15%;
        }
        &:nth-child(12){
            top: 65%;
            left: 37%;
        }
        &:nth-child(13){
            top: 84%;
            left: 50.5%;
        }
        &:nth-child(14){
            top: 68%;
            left: 58%;
        }
        &:nth-child(15){
            top: 69%;
            left: 67.5%;
        }
        &:nth-child(16){
            top: 64%;
            left: 75.5%;
            width: 70px;
        }
        &:nth-child(17){
            top: 52%;
            left: 13.5%;
        }
    }
}
@media screen and (max-width:991px) {
    .header{
        &__logo{
            // display: flex;
            // justify-content: center;
            & img{
                width: 80%;
            }
        }
        &__logo__bg{
            left: 43%;
            top: -33px;
            width: 80%;
            & svg{
                width: 100%;
            }
        }
        &__search{
            margin-left: auto;
            width: 250px;
            margin-right: 25px;
        }
        // &__logo img{
        //     width: 100px;
        // }
        &__nav{
            display: none;
        }
        &-burger{
            display: flex;
        }
    }
    .hero{
        &__inner{
            padding: 170px 0;
        }
        &-bg__items{
            max-height: 404px;
        }
    }
    .news__items{
        flex-wrap: wrap;
    }
    .news{
        &-item{
            width: calc((100% / 3) - 15px);
        }
    }
    .products{
        &__item{
            width: calc((100% / 2) - 10px);
        }
    }
    .services{
        &__item{
            width: calc((100% / 3) - 14px );
        }
    }
    .geography{
        &-map{
            &__item{
               
            }
        }
    }
    .points{
        &-mark__name{
            font-size: 14px;
        }
        &-mark{
            & span{
                width: 12px;
                height: 12px;
                font-size: 8px;
            }
        }
    }
    .breadcrumbs{
        padding-top: 100px;
        margin-bottom: 30px;
    }
    .about{
        &__img{
            height: 300px;
        }
    }
    .documents{
        &-item{
            width: calc((100% / 3) - 14px);
            &__img{
                height: auto;
            }
        }
    }
    .other-products{
        &__item{
            width: calc((100% / 3) - 14px);
            &__img{
                height: 200px;
            }
        }
    }
    .page-news {
        padding-top: 0;
        & .news__items{
            gap: 20px;
        }
        & .news-item{
            width: calc((100% / 2) - 10px);
        }
    }
    .contacts{
        &-items{
            margin-top: 50px;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
        &-item{
            width: 100%;
            margin-right: 0 !important;
            &__content{
                width: 88%;
            }
        }
    }
    .footer{
        &__nav{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}
@media screen and (max-width:770px){
    .hero{
        &__inner{
            padding: 100px 0;
        }
        &__title{
            font-size: 22px;
        }
        &-bg__items{
            max-height: 244px;
        }
    }
    .mission{
        &__img{
            height: 210px;
        }
    }
    .news{
        &-item{
            width: calc((100% / 2) - 10px);
        }
    }
    .services{
        &__item{
            width: calc((100% / 2) - 10px );
        }
    }
    .points{
        &-mark__name{
            font-size: 8px;
        }
        // &-mark{
        //     & span{
        //         width: 12px;
        //         height: 12px;
        //         font-size: 8px;
        //     }
        // }
    }
    .jobs{
        &-items{
            gap: 20px;
        }
        &-item{
            width: 100%;
            
        }
    }
    .document-item__name{
        text-align: center;
    }
    .portfolio{
        &-item{
            flex-direction: column;
            width: 100%;
            &__img{
                width: 100%;
            }
            &__info{
                width: 100%;
            }
            &__title{
                margin-bottom: 15px;
            }
        }
    }
    .other-products{
        &__item{
            width: calc((100% / 2) - 10px);
            
        }
    }
    .catalog{
        &__title{
            margin-bottom: 25px;
        }
        &-items{
            gap: 30px;
            // justify-content: space-between;
        }
        &-item{
            width: 100%;
        }
    }
    .contacts{
        &__content{
            flex-direction: column;
            gap: 25px;
        }
        &__map{
            order: 2;
            width: 100%;
            height: 300px;
            & > div{
                height: 100%;
            }
            & iframe{
                height: 100%;
            }
        }
        &__form{
            width: 100%;
        }
    }
    .point-text{
        font-size: 9px;
        &:nth-child(1){
            top: 5%;
            
        }
        &:nth-child(2){
            top: 21%;
            left: 36.5%;
        }
        &:nth-child(3){
            
            left: 50.5%;
            
        }
        &:nth-child(4){
            left: 67.5%;
        }
        &:nth-child(5){
         
            left: 6.5%;
        }
        &:nth-child(6){
            left: 23.5%;
        }
      
        &:nth-child(8){
            left: 61.5%;
        }
        &:nth-child(10){
            top: 43%;
            left: 84.5%;
        }
        &:nth-child(11){
            left: 13%;
        }
        &:nth-child(12){
            left: 35%;
        }
        &:nth-child(13){
            left: 48.5%;
        }
        &:nth-child(14){
            left: 56%;
        }
        &:nth-child(15){
            left: 66.5%;
        }
        &:nth-child(16){
            left: 73.5%;
        }
        &:nth-child(17){
            left: 12.5%;
            width: 50px;
        }
    }
    .footer{
        padding-top: 50px;
        &__menu{
            gap: 20px;
        }
        &__columns{
            flex-direction: column;
            gap: 20px;
        }
        &__map{
            order: 2;
            width: 100%;
            height: 350px;
            & > div{
                height: 100%;
            }
            & iframe{
                height: 100%;
            }
        }
        &-info{
            width: 100%;
        }
    }
} 
@media screen and (max-width:585px){
    .header{
        &__logo{
            & img{
                width: 80px;
            }
            &__bg{
                left: 51%;
                top: -43px;
                width: 100%;
            }
        }
        &__search{
            padding: 5px 10px;
            width: 150px;
            & input{
                font-size: 14px;
            }
        }
        &__inner{
            padding: 10px 0;
        }
    }
    .mission{
        padding: 35px 0;
        &__inner{
            flex-direction: column;
        }
        &__item{
            width: 100%;
        }
        &__descr{
            font-size: 14px;
        }
    }
    .title-black{
        font-size: 18px;
    }
    .news{
        padding: 35px 0;
        &-item{
            width: 100%;
            transition-duration: .8s !important;
            transition-delay: 0ms !important;
            &__info{
                & p{
                    font-size: 14px;
                }
            }
        }
        &__more{
            margin-top: 25px;
        }
    }
    .products{
        padding: 35px 0;
        &__item{
            width: 100%;
            transition-delay: 0ms !important;
            &__descr{
                font-size: 14px;
            }
        }
    }
    .services{
        padding: 35px 0;
        &__item{
            width: 100%;
            &__img{
                height: 200px;
            }
            &__descr{
                font-size: 14px;
            }
        }
    }
    .points{
        &-list{
            min-width: 91px;
            & li{
                padding: 5px;
                & a{
                    font-size: 8px;
                }
            }
        }
    }
    .geography{
        &-map{
            padding: 35px 0;
            &__item{
                margin-top: 25px;
            }
        }
    }
    .partners{
        padding: 35px 0;
        &__items{
            gap: 20px;
        }
    }
    .mb-30{
        margin-bottom: 25px;
    }
    .breadcrumbs{
        padding-top: 85px;
    }
    .about{
        padding-bottom: 35px;
        &__img{
            height: 200px;
        }
        &__info{
            margin-top: 25px;
            & p{
                font-size: 14px;
            }
        }
    }
    .jobs{
        padding-bottom: 35px;
        &-item{
            flex-direction: column;
            &__title{
                font-size: 18px;
                text-align: center;
            }
            &__descr{
                text-align: center;
                font-size: 14px;
            }
        }
    }
    .documents{
        padding-bottom: 35px;
        &-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__img{
                width: 80%;
                height: auto;
            }
        }
    }
    .reviews{
        padding-bottom: 35px;
    }
    .portfolio{
        &-item{
            &__img{
                height: 200px;
            }
            &__title{
                margin-bottom: 10px;
            }
            &__descr{
                & p{
                    font-size: 14px;
                }
            }
        }
    }
    .other-products{
        padding: 35px 0;
        &__item{
            width: 100%;
            
        }
    }
    .catalog{
        &-item__img{
            height: 200px;
        }
    }
    .product{
        padding-bottom: 35px;
        &__info{
            & img{
                margin-bottom: 25px;
            }
            & p{
                font-size: 14px;
                margin-bottom: 25px;
                line-height: 18px;
            }
            & h2{
                font-size: 18px;
                margin-bottom: 25px;
            }
        }
    }
    .page-news {
        
        & .news-item{
            width: 100%;
            &__img{
                height: 200px;
            }
            &__descr{
                & p{
                    font-size: 14px;
                }
            }
        }
    }
    .single-news{
        padding-bottom: 35px;
    }
    .news{
        &-content{
            &__title{
                font-size: 18px;
            }
            &__descr{
                & p{
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
    .contacts{
        padding-bottom: 35px;
        &__map{
            height: 200px;
        }
        &-item{
            &__content{
                width: 70%;
            }
        }
        &__form{
            & input{
                margin-bottom: 15px;
            }
            & textarea{
                margin-bottom: 15px;
            }
        }
    }
    .modal{
        &__wrapper{
            & .modal{
                width: 90%;
                padding: 25px;
                height: auto;
                &__title{
                    font-size: 20px;
                }
            }
        }
    }
    .point-text{
        font-size: 6px;
        line-height: 7px;
        width: 30px;
        &:nth-child(2){
            left: 38.5%;
        }
        &:nth-child(3){
            top: 25%;
            left: 52.5%;
            width: 30px;
        }
        &:nth-child(4){
            left: 68.5%;
        }
        &:nth-child(5){
            left: 9.5%;
        }
        &:nth-child(6){
            left: 24.5%;
        }
        &:nth-child(7){
            top: 53%;
            left: 47.5%;
        }
        &:nth-child(8){
            top: 44%;
            left: 63.5%;
        }
        &:nth-child(9){
            top: 44%;
            left: 76%;
            width: 24px;
        }
        &:nth-child(10){
            top: 41%;
            left: 85.5%;
        }
        &:nth-child(11){
            top: 72%;
            left: 14%;
        }
        &:nth-child(12){
            top: 65%;
            left: 37%;
        }
        &:nth-child(13){
            top: 80%;
            left: 50.5%;
        }
        &:nth-child(14){
            top: 66%;
            left: 58%;
        }
        &:nth-child(15){
            top: 64%;
            left: 67.5%;
        }
        &:nth-child(16){
            top: 60%;
            left: 76.5%;
            width: 30px;
        }
        &:nth-child(17){
            left: 9.5%;
        }
    }
    .footer{
        &__menu{
            gap: 12px;
            & li{
                & a{
                    font-size: 8px;
                }
            }
        }
        &__nav{
            margin-top: 25px;
        }
        &__map{
            height: 200px;
        }
        &-contacts__title{
            font-size: 18px;
        }
        &-info__title{
            font-size: 18px;
        }
        &-contacts{
            &__item{
                margin-bottom: 15px;
            }
        }
        &__logo{
            & img{
                width: 100px;
            }
        }
        &__copyright{
            padding: 10px 0;
            & p{
                font-size: 10px;
            }
        }
    }
} 
@media screen and (max-width:400px) {
    .points{
        &-mark__name {
            font-size: 8px;
            display: none;
        }
        &-mark{
            & span{
                width: 20px;
                height: 20px;
                font-size: 12px;
            }
        }
    }
    .point-text{
       
        &:nth-child(2){
            left: 38.5%;
        }
        &:nth-child(3){
            top: 24%;
            left: 50.5%;
            width: 30px;
        }
        &:nth-child(4){
            left: 68.5%;
        }
        &:nth-child(5){
            left: 7.5%;
        }
        &:nth-child(6){
            left: 24.5%;
        }
        &:nth-child(7){
            top: 52%;
            left: 47.5%;
        }
        &:nth-child(8){
            top: 44%;
            left: 61.5%;
        }
        &:nth-child(9){
            top: 44%;
            left: 76%;
            width: 24px;
        }
        &:nth-child(10){
            top: 41%;
            left: 85.5%;
        }
        &:nth-child(11){
            top: 72%;
            left: 14%;
        }
        &:nth-child(12){
            top: 65%;
            left: 37%;
        }
        &:nth-child(13){
            top: 80%;
            left: 50.5%;
        }
        &:nth-child(14){
            top: 65%;
            left: 56%;
        }
        &:nth-child(15){
            top: 62%;
            left: 66.5%;
        }
        &:nth-child(16){
            top: 60%;
            left: 76.5%;
            width: 30px;
        }
        &:nth-child(17){
            left: 8.5%;
        }
    }
}