<section class="product">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Продукция"
        })
        <div class="product__inner">
            <h2 class="product__title title-black mb-30">Горизонтальный насосный комплекс</h2>
            <div class="product__info">
                <img src="images/single-product-1.jpg" alt="">
                <h3>Горизонтальный насосный комплекс</h3>
                <p>
                    ГНК состоит горизонтального электроцентробежного насоса, на металлической раме, смонтированный с
                    асинхронным взрывозащищенным электродвигателем, муфтой, приемной камерой, разгрузочным упорным
                    узлом. В зависимости от комплектации ГНК может дополнительно в себя включать систему охлаждения,
                    гибкие входные и выходные рукава, трубную обвязку с системой фильтрации и обратных клапанов. <br>
                    <br>

                    Назначение: предназначена для нагнетания воды в скважины с целью поддержания пластового давления
                    нефтяных месторождений. <br> <br>
                    <strong>Преимущества установок ГНК:</strong><br><br>
                    1. Высокий КПД насоса более 68 % и МРП в 2-3 раза больше, чем аналагочных насосов типа ЦНС,
                    возможность регулирования скорости закачки и напора в широком диапазоне, а так же плавного пуска и
                    остановки ГНК. <br><br>
                    2. Гибкость системы – при демонтаже или монтаже насосной секции, соответственно можем менять
                    производительность и напор агрегата на месте, без дополнительных затрат. <br> <br>
                    3. Удобны в обслуживании, так как вся установка находится на раме с ложементами и секции можно легко демонтировать, не требуют усиленного фундамента, а так же уровень вибрации в 3-4 раза ниже, чем аналагочных насосов типа ЦНС. <br><br>
                    4. ГНК является полностью закрытой системой, исключающей какие-либо утечки перекачиваемой пластовой жидкости в машинный зал БКНС или на открытую площадку где размещена установка.
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td>Удельный вес</td>
                            <td>диапазон: 1.05 - 1.18 г/см3.</td>
                        </tr>
                        <tr>
                            <td>Характеристики попутной воды</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Температура</td>
                            <td>от +5гр. до +80гр C</td>
                        </tr>
                        <tr>
                            <td>Вязкость</td>
                            <td>1,6 сантистокс</td>
                        </tr>
                        <tr>
                            <td>При 15гр. C</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Водородный фактор</td>
                            <td>5.4 - 7.5</td>
                        </tr>
                        <tr>
                            <td>Общее количество растворенных твердых частиц</td>
                            <td>60,000 - 250 000 мг/л</td>
                        </tr>
                        <tr>
                            <td>(Минерализация) Растворенные газы (мг/л)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>H2S</td>
                            <td>0-270</td>
                        </tr>
                        <tr>
                            <td>CO2</td>
                            <td>150-300</td>
                        </tr>
                        <tr>
                            <td>Ионы воды (мг/л)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Na+K</td>
                            <td>22,000-50,000</td>
                        </tr>
                        <tr>
                            <td>Ca</td>
                            <td>5,000-11,000</td>
                        </tr>
                        <tr>
                            <td>Mg</td>
                            <td>700-3,000</td>
                        </tr>
                        <tr>
                            <td>CL</td>
                            <td>66,000-70,000</td>
                        </tr>
                        <tr>
                            <td>SO4</td>
                            <td>20-500</td>
                        </tr>
                        <tr>
                            <td>HCO3</td>
                            <td>100-400</td>
                        </tr>
                        <tr>
                            <td>Нефтепродукты</td>
                            <td>50-200 мг/л</td>
                        </tr>
                        <tr>
                            <td>Содержание взвешенных твердых частиц</td>
                            <td>50-200 мг/л</td>
                        </tr>
                        <tr>
                            <td>Размер</td>
                            <td>до 300 микрон (в среднем 200 микрон)</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Горизонтальная насосная установка:</h2>
                <img src="images/single-product-2.jpg" alt="">
                <p>
                    На агрегате расположена насосная секции из сплава нирезист . Секция является коррозионностойкой —
                    обеспечивает закачку воды с поверхности земли в пласт. <br> <br>
                    Специализированный электродвигатель трехфазный асинхронный с усиленными подшипниками обеспечивает
                    привод насоса. Номинальное число оборотов двигателя в режиме эксплуатации ГНК — 3000 об/мин (50Гц).
                    <br> <br>
                    Упорная камера (узел разгрузки) предназначена для снятия осевых нагрузок, противодавления,
                    передаваемого от насосной секции на вал электродвигателя. <br> <br>
                    Рама монтажная предназначена для размещения на ней узлов ГНК, обеспечивает их центровку и надежное
                    крепление. <br> <br>
                    Муфта — эластичная компенсационная муфта, соединяющая вал электродвигателя с валом упорной камеры и
                    закрытая защитным кожухом. <br> <br>
                    <strong>Система управления:</strong> <br> <br>
                    Система управления по требованию заказчика может комплектоваться частотными преобразователями с
                    плавным пуском с блоком управления (контроллером) ведущих мировых производителей с многоступенчатами
                    защитами по различным параметрам (току, напряжению, cos f, мощности, дисбаланса), с системой КИП с
                    дублирующими датчиками на важных узлах агрегата. <br> <br>
                    Система управления изготовлена на базе микропроцессорного контроллера с модулями, поддерживающими
                    НART протокол, позволяет заносить параметры работы ГНК в память и передавать через интерфейс RS-485
                    или Ethernet, включает в себя частотный преобразователь. С его помощью удается поддерживать работу
                    насосных установок в зоне максимального КПД, а значит минимального энергопотребления. Система
                    управления выполнена в едином шкафу, позволяющим проводить эксплуатацию установки при температурах
                    от -40С до +45С.
                </p>
                <img src="images/single-product-3.jpg" alt="">
                <p>
                    Следует отметить, что частотный преобразователь работает на принципе PID – регулирования, т.е. сам
                    настраивается на нагрузку таким образом, что обеспечивает оптимальный баланс потребления активной и
                    реактивной мощности. <br> <br>
                    Частотный преобразователь обеспечивает безопасный плавный пуск и остановку насосного агрегата,
                    защищает двигатель от высоких токовых нагрузок, позволяет исключить возможность возникновения резких
                    ударных механических нагрузок на вал и упорную камеру насоса, сглаживает недостатки сетевого
                    электропитания технологических установок. <br> <br>
                    КИП работающий совместно с СУ обеспечивает срабатывание защит при отклонении технологических
                    параметров от разрешенного диапазона и контроль расхода перекачиваемой жидкости, вибрации ГНК,
                    температуры насосных секций, узла разгрузки, давления на входе и выходе ГНК и в системе охлаждения.
                    <br> <br>
                    Система управления с Преобразователи частоты может размещаться в отдельном помещении БКНС, со всей
                    необходимой оснасткой и аппаратурой для максимального комфорта и безопасности при эксплуатации. <br>
                    <br>
                    <strong>Гидравлическая (трубная) обвязка ГНК:</strong> <br><br>
                    В состав подводящего трубопровода на входе в каждую насосную установку входят: поворотные затворы ,
                    фильтры тонкой очистки с диаметром ячейки фильтрующего элемента – 0,9 мм. ( 1-рабочий, 1-резервный),
                    расположенными друг над другом для очистки фильтрующего элемента без остановки насосной установки,
                    расходомер, дренажные краны для обеспечения слива жидкости из трубопровода при необходимости,
                    пробоотборник, а также места для установки элементов КИПиА.
                </p>
                <img src="images/single-product-4.jpg" alt="">
                <p>
                    В состав напорного трубопровода входят: клапаны обратные для каждой насосной установки, задвижка для
                    каждой насосной установки, а также места для установки элементов КИПиА. <br> <br>

                    По желанию заказчика ГНК может комплектоваться входным и выходным гибким рукавом. Это облегчает
                    проведение работ по вводу в эксплуатацию ГНК (монтаж и демонтаж насосного агрегата и трубной
                    обвязки). Создает возможность гибкого регулирования при размещении ГНК.
                </p>
            </div>
        </div>
    </div>
</section>