<section class="contacts">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Контакты"
        })
        <div class="contacts__inner">
            <h2 class="contacts__title title-black mb-30">КОНТАКТЫ</h2>
            <div class="contacts__content">
                <div class="contacts__map">
                    <div style="position:relative;overflow:hidden;"><a
                            href="https://yandex.kz/maps/163/astana/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Астана</a><a
                            href="https://yandex.kz/maps/163/astana/house/Y0gYcgZhTkwPQFtrfX13cX5jYg==/?ll=71.412305%2C51.160200&utm_medium=mapframe&utm_source=maps&z=17.7"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Проспект Сарыарка, 6 —
                            Яндекс Карты</a><iframe
                            src="https://yandex.kz/map-widget/v1/?ll=71.412305%2C51.160200&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg2NzM0OTc2MhJE0prQsNC30LDSm9GB0YLQsNC9LCDQkNGB0YLQsNC90LAsINCh0LDRgNGL0LDRgNKb0LAg0LTQsNKj0pPRi9C70YssIDYiCg3X0o5CFQykTEI%2C&z=17.7"
                            width="560" height="400" frameborder="1" allowfullscreen="true"
                            style="position:relative;"></iframe></div>
                </div>
                <form action="" method="post" class="contacts__form">
                    <input required type="text" placeholder="Имя">
                    <input required type="tel" placeholder="Номер">
                    <textarea name="" placeholder="Текст" id=""></textarea>
                    <input type="submit" value="Отправить">
                </form>
            </div>
            <div class="contacts-items">
                <div class="contacts-item">
                    <div class="contacts-item__icon">
                        <img src="images/contacts-icon-address.svg" alt="">
                    </div>
                    <div class="contacts-item__content">
                        <span class="contacts-item__name">Юридический адрес</span>
                        <p class="contacts-item__descr">Республика Казахстан, 010000, г. Астана, пр-т Сарыарка, 6, БЦ
                            «Арман», офис 1210.</p>
                    </div>
                </div>
                <div class="contacts-item">
                    <div class="contacts-item__icon">
                        <img src="images/contacts-icon-tel.svg" alt="">
                    </div>
                    <div class="contacts-item__content">
                        <span class="contacts-item__name">Приемная</span>
                        <a href="tel:87172568930">8 (7172) 56 89 30</a>
                        <a href="tel:+77077111058">+7 707 711 10 58</a>
                    </div>
                </div>
                <div class="contacts-item">
                    <div class="contacts-item__icon">
                        <img src="images/contacts-icon-mail.svg" alt="">
                    </div>
                    <div class="contacts-item__content">
                        <span class="contacts-item__name">Электронный адрес</span>
                        <a href="mailto:info@allianceenergy.kz">info@allianceenergy.kz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>