<section class="reviews">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Отызвы"
        })
        <div class="documents__inner">
            <h2 class="title-black mb-30 documents__title">Отзывы</h2>
            <p class="reviews__subtitle">Отзывы, благодарственные письма заказчиков о сотрудничестве с нашей компанией
            </p>
            <div class="documents-items">
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/reviews-1.jpg"><img src="images/reviews-1.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Рекомендательное письмо от АО «Жайыктеплоэнерго» </p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/reviews-2.jpg"><img src="images/reviews-2.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Рекомендательное письмо от АО «Интергаз Центральная Азия»</p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/reviews-3.jpg"><img src="images/reviews-3.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Рекомендательное письмо от ТОО «Altyntau Kokshetau»</p>
                </div>
                <div class="documents-item">
                    <div class="documents-item__img">
                        <a target="_blank" href="images/reviews-4.jpg"><img src="images/reviews-4.jpg" alt=""></a>
                    </div>
                    <p class="document-item__name">Рекомендательное письмо от АО «Жайыктеплоэнерго»</p>
                </div>
            </div>
        </div>
    </div>
</section>