<section class="jobs">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Вакансии"
        })
        <div class="jobs__inner">
            <h2 class="title mb-30 jobs__title">ВАКАНСИИ</h2>
            <div class="jobs-items">
                <div class="jobs-item">
                    <div class="jobs-item__icon">
                        <img src="images/jobs-icon.svg" alt="">
                    </div>
                    <div class="jobs-item__info">
                        <h3 class="jobs-item__title">
                            Название вакансии
                        </h3>
                        <div class="jobs-item__descr">
                            <p>Компания «АльянсЭнергоПром» является официальным дистрибьютором ряда крупных мировых
                                производителей нефтегазовой отрасли и химической промышленности.</p>
                        </div>
                    </div>
                </div>
                <div class="jobs-item">
                    <div class="jobs-item__icon">
                        <img src="images/jobs-icon.svg" alt="">
                    </div>
                    <div class="jobs-item__info">
                        <h3 class="jobs-item__title">
                            Название вакансии
                        </h3>
                        <div class="jobs-item__descr">
                            <p>Компания «АльянсЭнергоПром» является официальным дистрибьютором ряда крупных мировых
                                производителей нефтегазовой отрасли и химической промышленности.</p>
                        </div>
                    </div>
                </div>
                <div class="jobs-item">
                    <div class="jobs-item__icon">
                        <img src="images/jobs-icon.svg" alt="">
                    </div>
                    <div class="jobs-item__info">
                        <h3 class="jobs-item__title">
                            Название вакансии
                        </h3>
                        <div class="jobs-item__descr">
                            <p>Компания «АльянсЭнергоПром» является официальным дистрибьютором ряда крупных мировых
                                производителей нефтегазовой отрасли и химической промышленности.</p>
                        </div>
                    </div>
                </div>
                <div class="jobs-item">
                    <div class="jobs-item__icon">
                        <img src="images/jobs-icon.svg" alt="">
                    </div>
                    <div class="jobs-item__info">
                        <h3 class="jobs-item__title">
                            Название вакансии
                        </h3>
                        <div class="jobs-item__descr">
                            <p>Компания «АльянсЭнергоПром» является официальным дистрибьютором ряда крупных мировых
                                производителей нефтегазовой отрасли и химической промышленности.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>