<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="header__logo">
                <div class="header__logo__bg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="190" height="132" viewBox="0 0 190 132" fill="none">
                        <g filter="url(#filter0_d_106_1827)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10 0H180V97.624C180 99.0161 179.042 100.225 177.687 100.544L95 120L12.3129 100.544C10.9577 100.225 10 99.0161 10 97.624V0Z"
                                fill="white" />
                        </g>
                        <defs>
                            <filter id="filter0_d_106_1827" x="0" y="-8" width="190" height="140"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feOffset dy="2" />
                                <feGaussianBlur stdDeviation="5" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.130781 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_106_1827" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_106_1827"
                                    result="shape" />
                            </filter>
                        </defs>
                    </svg>
                </div>

                <img src="images/logo.svg" alt="">
            </a>
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="contacts.html">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="partners.html">
                            Партнеры
                        </a>
                    </li>
                    <li class="has-child">
                        <a href="about.html">
                            О компании
                        </a>
                        <img src="images/menu-arrow.svg" alt="">
                        <ul class="submenu">
                            <li>
                                <a href="#">Вакансии</a>
                            </li>
                            <li>
                                <a href="#">Документы</a>
                            </li>
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Отзывы</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="portfolio.html">
                            Порфолио
                        </a>
                    </li>
                    <li class="has-child">
                        <a href="products.html">
                            Продукция
                        </a>
                        <img src="images/menu-arrow.svg" alt="">
                        <ul class="submenu">
                            <li>
                                <a href="#">АЛКИЛЭТАНОЛАМИНЫ</a>
                            </li>
                            <li>
                                <a href="#">ГОРИЗОНТАЛЬНЫЙ НАСОСНЫЙ КОМПЛЕКС</a>
                            </li>
                            <li>
                                <a href="#">ЕМКОСТНОЕ ОБОРУДОВАНИЕ</a>
                            </li>
                            <li>
                                <a href="#">ИЗОБУТАН</a>
                            </li>
                            <li>
                                <a href="#">МУЛЬТИФАЗНЫЕ НАСОСНЫЕ СТАНЦИИ</a>
                            </li>
                            <li>
                                <a href="#">НЕИОНОГЕННЫЕ ПАВ</a>
                            </li>
                            <li>
                                <a href="#">ОБОРУДОВАНИЕ ДЛЯ РАЗМАГНИЧИВАНИЯ ТРУБОПРОВОДОВ</a>
                            </li>
                            <li>
                                <a href="#">ПОТОКОПРОВОДЯЩЕЕ ОБОРУДОВАНИЕ</a>
                            </li>
                            <li>
                                <a href="#">ПРИСАДКИ</a>
                            </li>
                            <li>
                                <a href="#">ПРОДУКЦИЯ ДЛЯ РАДИОГРАФИЧЕСКОГО КОНТРОЛЯ</a>
                            </li>
                            <li>
                                <a href="#">ПРОМЫШЛЕННОЕ РЕНТГЕНОВСКОЕ ОБОРУДОВАНИЕ</a>
                            </li>
                            <li>
                                <a href="#">ПРОПАН</a>
                            </li>
                            <li>
                                <a href="#">ПРОПИЛЕН</a>
                            </li>
                            <li>
                                <a href="#">СЕПАРАЦИОННОЕ ОБОРУДОВАНИЕ</a>
                            </li>
                            <li>
                                <a href="#">ТЕПЛООБМЕННОЕ ОБОРУДОВАНИЕ</a>
                            </li>
                            <li>
                                <a href="#">ТРИАЗИНЫ</a>
                            </li>
                            <li>
                                <a href="#">УСТАНОВКИ ПОГРУЖНЫХ ЦЕНТРОБЕЖНЫХ НАСОСОВ</a>
                            </li>
                            <li>
                                <a href="#">ЭТАНОЛАМИНЫ</a>
                            </li>
                            <li>
                                <a href="#">ЭФИРЫ ЭТИЛЕНГЛИКОЛЕЙ И ПРОИЗВОДНЫЕ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="services.html">
                            Услуги
                        </a>
                    </li>
                </ul>
            </nav>
            <form class="header__search" action="" method="get">
                <input name="s" placeholder="Поиск..." type="search">
                <button type="submit"><img src="images/search.svg" alt=""></button>
            </form>
            <nav class="header__nav__mobile">
                <ul>
                    <li>
                        <a href="contacts.html">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="partners.html">
                            Партнеры
                        </a>
                    </li>
                    <li class="has-child">
                        <a href="">
                            О компании
                            <img src="images/menu-arrow.svg" alt="">
                        </a>
                        <ul class="submenu">
                            <li>
                                <a href="jobs.html">Вакансии</a>
                            </li>
                            <li>
                                <a href="documents.html">Документы</a>
                            </li>
                            <li>
                                <a href="about.html">О нас</a>
                            </li>
                            <li>
                                <a href="services.html">Отзывы</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="portfolio.html">
                            Порфолио
                        </a>
                    </li>
                    <li>
                        <a href="products.html">
                            Продукция
                        </a>
                    </li>
                    <li>
                        <a href="services.html">
                            Услуги
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>