<section class="other-products">
    <div class="container">
        <div class="other-products__inner">
            <h2 class="title-black other-products__title">Прочие услуги</h2>
            <div class="other-products__items">
                <div class="other-products__item">
                    <div class="other-products__item__img">
                        <a href="">
                            <img src="images/services-1.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="other-products__item__title">Название услуги</h3>
                    </a>
                    <p class="other-products__item__descr">Описание услуги</p>
                </div>
                <div class="other-products__item">
                    <div class="other-products__item__img">
                        <a href="">
                            <img src="images/services-2.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="other-products__item__title">Название услуги</h3>
                    </a>
                    <p class="other-products__item__descr">Описание услуги</p>
                </div>
                <div class="other-products__item">
                    <div class="other-products__item__img">
                        <a href="">
                            <img src="images/services-3.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="other-products__item__title">Название услуги</h3>
                    </a>
                    <p class="other-products__item__descr">Описание услуги</p>
                </div>
                <div class="other-products__item">
                    <div class="other-products__item__img">
                        <a href="">
                            <img src="images/services-4.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="other-products__item__title">Название услуги</h3>
                    </a>
                    <p class="other-products__item__descr">Описание услуги</p>
                </div>
            </div>
        </div>
    </div>
</section>