<section class="portfolio">
    <div class="container">
        @@include('../breadcrumbs.html', {
        "breadcrumbs" : "Портфолио"
        })
        <div class="portfolio__inner">
            <h2 class="title-black mb-30 portfolio__title">Портфолио</h2>
            <div class="portfolio-items">
                <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="images/portfolio-1.jpg" alt="">
                    </div>
                    <div class="portfolio-item__info">
                        <h3 class="portfolio-item__title">Заказчик: ТОО «Altyntau Kokshetau»</h3>
                        <div class="portfolio-item__descr">
                            <p>По заказу компании «Altyntau Kokshetau» крупнейшей золотодобывающей компании в
                                Казахстане, нами было поставлено и запущено в эксплуатацию теплообменное оборудование
                                производства Alfa Laval на промышленной площадке заказчика.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="images/portfolio-2.jpg" alt="">
                    </div>
                    <div class="portfolio-item__info">
                        <h3 class="portfolio-item__title">Заказчик: ТОО «Altyntau Kokshetau»</h3>
                        <div class="portfolio-item__descr">
                            <p>По заказу компании «Altyntau Kokshetau» крупнейшей золотодобывающей компании в
                                Казахстане, нами было поставлено и запущено в эксплуатацию теплообменное оборудование
                                производства Alfa Laval на промышленной площадке заказчика.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="images/portfolio-3.jpg" alt="">
                    </div>
                    <div class="portfolio-item__info">
                        <h3 class="portfolio-item__title">Заказчик: ТОО «Altyntau Kokshetau»</h3>
                        <div class="portfolio-item__descr">
                            <p>По заказу компании «Altyntau Kokshetau» крупнейшей золотодобывающей компании в
                                Казахстане, нами было поставлено и запущено в эксплуатацию теплообменное оборудование
                                производства Alfa Laval на промышленной площадке заказчика.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="images/portfolio-4.jpg" alt="">
                    </div>
                    <div class="portfolio-item__info">
                        <h3 class="portfolio-item__title">Заказчик: ТОО «Altyntau Kokshetau»</h3>
                        <div class="portfolio-item__descr">
                            <p>По заказу компании «Altyntau Kokshetau» крупнейшей золотодобывающей компании в
                                Казахстане, нами было поставлено и запущено в эксплуатацию теплообменное оборудование
                                производства Alfa Laval на промышленной площадке заказчика.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-item">
                    <div class="portfolio-item__img">
                        <img src="images/portfolio-5.jpg" alt="">
                    </div>
                    <div class="portfolio-item__info">
                        <h3 class="portfolio-item__title">Заказчик: ТОО «Altyntau Kokshetau»</h3>
                        <div class="portfolio-item__descr">
                            <p>По заказу компании «Altyntau Kokshetau» крупнейшей золотодобывающей компании в
                                Казахстане, нами было поставлено и запущено в эксплуатацию теплообменное оборудование
                                производства Alfa Laval на промышленной площадке заказчика.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>