<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero-bg__items">
                <div class="hero-bg__item">
                    <img src="images/hero-bg-1.jpg" alt="">
                </div>
                <div class="hero-bg__item">
                    <img src="images/hero-bg-2.jpg" alt="">
                </div>
                <div class="hero-bg__item">
                    <img src="images/hero-bg-3.jpg" alt="">
                </div>
            </div>

            <h1 class="hero__title">Making technologies <br> work for you!</h1>
        </div>
    </div>
</section>