<section class="mission">
    <div class="container">
        <div class="mission__inner">
            <div class="mission__item">
                <h2 class="title-black mission__title">НАША МИССИЯ</h2>
                <img src="images/mission-img-1.jpg" alt="" class="mission__img">
                <p class="mission__descr"> «АльянсЭнергоПром» видит свою миссию в эффективном обеспечении клиентов
                    оборудованием высокой надежности с исполнением договорных обязательств на высочайшем уровне </p>
            </div>
            <div class="mission__item">
                <h2 class="title-black mission__title">КАРЬЕРА</h2>
                <img src="images/mission-img-2.jpg" alt="" class="mission__img">
                <p class="mission__descr">Если Вы спросите меня, что мне больше всего нравится в «АльянсЭнергоПром», я
                    назову возможность личностного и карьерного роста. Но главное - это люди, которые здесь работают
                </p>
            </div>
        </div>
    </div>
</section>