<section class="news">
    <div class="container">
        <div class="news__inner">
            <h2 class="title-white news__title">ПРЕСС-ЦЕНТР</h2>
            <div class="news__items">
                <article data-aos="fade-up" class="news-item">
                    <div class="news-item__img">
                        <a href=""> <img src="images/news-img-1.jpg" alt=""></a>
                    </div>
                    <div class="news-item__date">
                        <div class="news-item__date__info">
                            <img src="images/date-icon.svg" alt="">
                            <p>27.01.2015</p>
                        </div>
                        <a href="">
                            <img src="images/arrow-right.svg" alt="">
                        </a>
                    </div>
                    <a href="#">
                        <h3 class="news-item__title">Заключен договор с ТОО «Kerneu Limited»</h3>
                    </a>
                    <div class="news-item__info">
                        <p>Заключен договор с ТОО «KerneuLimited» на поставку на Прорвинское месторождение 7 (семи)
                            компрессорных установок на базе интегрированного мотор – компрессора компании GE OilandGas ,
                            известную как Cameron AJAX DPC — 2804 NON LE (производительность... </p>
                    </div>
                </article>
                <article data-aos="fade-up" class="news-item">
                    <div class="news-item__img">
                        <a href=""> <img src="images/news-img-2.jpg" alt=""></a>
                    </div>
                    <div class="news-item__date">
                        <div class="news-item__date__info">
                            <img src="images/date-icon.svg" alt="">
                            <p>27.01.2015</p>
                        </div>
                        <a href="">
                            <img src="images/arrow-right.svg" alt="">
                        </a>
                    </div>
                    <a href="#">
                        <h3 class="news-item__title">Реализован договор на поставку труборезов с компанией АО
                            «КазТрансОйл»</h3>
                    </a>
                    <div class="news-item__info">
                        <p>Труборез с хомутной защелкой имеет меньший вес, требует меньше пространства для работы.
                            Используется в котлованах, под водой, во взрывоопасной атмосфере, в местах, где запрещен
                            шум. Используется в котлованах, под водой, во взрывоопасной</p>
                    </div>
                </article>
                <article data-aos="fade-up" class="news-item">
                    <div class="news-item__img">
                        <a href=""> <img src="images/news-img-3.jpg" alt=""></a>
                    </div>
                    <div class="news-item__date">
                        <div class="news-item__date__info">
                            <img src="images/date-icon.svg" alt="">
                            <p>27.01.2015</p>
                        </div>
                        <a href="">
                            <img src="images/arrow-right.svg" alt="">
                        </a>
                    </div>
                    <a href="#">
                        <h3 class="news-item__title">ТОО «АльянсЭнергоПром» успешно завершило проект
                            ТОО «КазГПЗ»</h3>
                    </a>
                    <div class="news-item__info">
                        <p>Компания «АльянсЭнергоПром» успешно завершила работу над проектом ТОО «Казахский
                            газоперерабатывающий завод» по поставке Моноэтаноламина (Этаноламин). Область применения
                            моноэтаноламина — газовая и нефтяная промышленность с целью очистки от... </p>
                    </div>
                </article>
                <article data-aos="fade-up" class="news-item">
                    <div class="news-item__img">
                        <a href=""> <img src="images/news-img-4.jpg" alt=""></a>
                    </div>
                    <div class="news-item__date">
                        <div class="news-item__date__info">
                            <img src="images/date-icon.svg" alt="">
                            <p>27.01.2015</p>
                        </div>
                        <a href="">
                            <img src="images/arrow-right.svg" alt="">
                        </a>
                    </div>
                    <a href="#">
                        <h3 class="news-item__title">Реализован договор на поставку труборезов с компанией АО
                            «КазТрансОйл»</h3>
                    </a>
                    <div class="news-item__info">
                        <p>Заключен договор с ТОО «KerneuLimited» на поставку на Прорвинское месторождение 7 (семи)
                            компрессорных установок на базе интегрированного мотор – компрессора компании GE OilandGas ,
                            известную как Cameron AJAX DPC — 2804 NON LE (производительность... </p>
                    </div>
                </article>
            </div>
            <div class="news__more">
                <a href="news.html">Все события <img src="images/arrow-right-more.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>