<section class="partners">
    <div class="container">
        <div class="partners__inner">
            <h2 class="partners__title title-black">Наши партнеры</h2>
            <div class="partners__items">
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-1.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Alfa Laval Group</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-2.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">ООО «ТатОйлПром»</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-3.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Afton Chemical Corporation</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-4.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Alfa Laval Group</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-5.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">ООО «ТатОйлПром»</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-6.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Afton Chemical Corporation</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-7.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Alfa Laval Group</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-8.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">ООО «ТатОйлПром»</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-9.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Afton Chemical Corporation</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-10.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Alfa Laval Group</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-11.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">ООО «ТатОйлПром»</span>
                </div>
                <div class="partners__item">
                    <div class="partners__item__img">
                        <a href=""><img src="images/partners-12.png" alt=""></a>
                    </div>
                    <span class="partners__item__name">Afton Chemical Corporation</span>
                </div>
            </div>
        </div>
    </div>
</section>