<section class="products">
    <div class="container">
        <div class="products__inner">
            <h2 class="product__title title-black">Наши продукты</h2>
            <div class="products__items">
                <div class="products__item">
                    <div class="products__item__img">
                        <a href=""><img src="images/products-img-1.jpg" alt=""></a>
                    </div>
                    <div class="products__item__info">
                        <a href="">
                            <h3 class="products__item__title">ПРИСАДКИ ДЛЯ МАСЕЛ И ТОПЛИВА «AFTON CHEMICAL»</h3>
                        </a>
                        <p class="products__item__descr">
                            Afton Chemical – ведущий мировой производитель топливных, трансмиссионных присадок, а также
                            присадок моторных и промышленных масел.
                        </p>
                    </div>
                </div>
                <div class="products__item">
                    <div class="products__item__img">
                        <a href=""> <img src="images/products-img-2.jpg" alt=""></a>
                    </div>
                    <div class="products__item__info">
                        <a href="">
                            <h3 class="products__item__title">ТЕПЛООБМЕННОЕ И СЕПАРАЦИОННОЕ ОБОРУДОВАНИЕ «ALFA LAVAL»
                            </h3>
                        </a>
                        <p class="products__item__descr">
                            Компания Alfa Laval является мировым лидером в области технологий теплообмена, сепарации,
                            потокопроводящего оборудования.
                        </p>
                    </div>
                </div>
                <div class="products__item">
                    <div class="products__item__img">
                        <a href=""> <img src="images/products-img-3.jpg" alt=""></a>
                    </div>
                    <div class="products__item__info">
                        <a href="">
                            <h3 class="products__item__title">НАСОСНЫЕ СТАНЦИИ «ТАТОЙЛПРОМ»</h3>
                        </a>
                        <p class="products__item__descr">
                            Компания «ТатОйлПром» занимается изготовлением комплекса оборудования применяемого для
                            поддержания пластового давления на нефтяных и газовых месторождениях.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>