<section class="services">
    <div class="container">
        <div class="services__inner">
            <h2 class="title-black services__title">Услуги и товары</h2>
            <div class="services__items">
                <div class="services__item">
                    <div class="services__item__img">
                        <a href="">
                            <img src="images/services-1.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="services__item__title">Название продукта</h3>
                    </a>
                    <p class="services__item__descr">пропана-хлодагента марки R 290</p>
                </div>
                <div class="services__item">
                    <div class="services__item__img">
                        <a href="">
                            <img src="images/services-2.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="services__item__title">Название продукта</h3>
                    </a>
                    <p class="services__item__descr">пропана-хлодагента марки R 290</p>
                </div>
                <div class="services__item">
                    <div class="services__item__img">
                        <a href="">
                            <img src="images/services-3.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="services__item__title">Название продукта</h3>
                    </a>
                    <p class="services__item__descr">пропана-хлодагента марки R 290</p>
                </div>
                <div class="services__item">
                    <div class="services__item__img">
                        <a href="">
                            <img src="images/services-4.jpg" alt="">
                        </a>
                    </div>
                    <a href="">
                        <h3 class="services__item__title">Название продукта</h3>
                    </a>
                    <p class="services__item__descr">пропана-хлодагента марки R 290</p>
                </div>
            </div>
        </div>
    </div>
</section>